<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe Finder
      <ion-item>
        
          <ion-input type="text" placeholder="Enter ingredients" [(ngModel)]="ingredientInput"> </ion-input>
      </ion-item>
      <ion-button expand="block" (click)="Search()">
          Search
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <div><strong>G00438823</strong> </div>
  <div id="container">
      <strong>Search results</strong>
      
    
    <p> {{userIngredients}}</p>
  
    <p> {{searchResults}}<p>
   </div>
  <div class="ion-text-end">

      <a href = "/favorites"> <img src="assets/icon/FavorIcon.png" style="width: 50px; height: 50px;" ></a>
      <a href = "/settings"> <img src="assets/icon/settings.png" style="width: 50px; height: 50px;" > </a>
     
  </div>
   <p>Project by Vasyl Melnychuk</p>
  
  <div>
    <strong>Search results:</strong>
      <ion-card *ngFor = "let recipe of searchResults">
          <img src="{{ recipe.image }}" />
          <ion-card-header>
            <ion-card-title> {{recipe.title}}</ion-card-title>
            
          </ion-card-header>
        
          <ion-button (click)="openDetails(recipe.id)">
              Details
          </ion-button>
        </ion-card>
  </div>
  
    
</ion-content>
