<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

      <ion-item-divider color="secondary">
          <ion-label> <h1 > Recipe Finder </h1> by Vasyl Melnychuk <strong>G00438823</strong> </ion-label>
          
        </ion-item-divider>
        
      
        
        
        



      <div class="ion-text-end">

      <a href = "/favorites"> <img src="assets/icon/FavorIcon.png" style="width: 50px; height: 50px;  padding: 10px;" ></a>
      <a href = "/settings"> <img src="assets/icon/settings.png" style="width: 50px; height: 50px;  padding: 10px;" > </a>
     
      </div>
      <ion-item>
        
          <ion-input type="text" placeholder="Enter ingredients (separated by commas)" [(ngModel)]="ingredientInput"> </ion-input>
      </ion-item>
      <ion-button expand="block" (click)="Search()">
          Search
      </ion-button>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 
  <div>
    

        <ion-item-divider *ngIf = "searchResults.length>1">
          <ion-label> SEARCH RESULTS: </ion-label>
        </ion-item-divider>


    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor = "let recipe of searchResults">
      
          <ion-card >
          <img src="{{ recipe.image }}" style="display:block; margin:0 auto; border-radius:30px; padding:15px"/>
          <ion-card-header>
            <ion-card-title style="text-align:center;"> {{recipe.title}}</ion-card-title>
            
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="openDetails(recipe.id)">
              Details
            </ion-button>
          </ion-card-content>
        </ion-card>


       </ion-col>
      </ion-row>
    </ion-grid>



      
  </div>
  
    
</ion-content>
