<ion-content>
    <div class="ion-text-end">

      <a href = "/home"> <img src="assets/icon/home.png" style="width: 50px; height: 50px;" > </a>
      <a href = "/favorites"> <img src="assets/icon/FavorIcon.png" style="width: 50px; height: 50px;" ></a>
     
      
      </div>
    
    <ion-radio-group value="Settings" [(ngModel)]="units" (ionChange)="onRadioChange($event)">
        <ion-radio value="Metric">Metric</ion-radio><br />
        <ion-radio value="US">US</ion-radio><br />
      </ion-radio-group>
      You selected: {{ units }} units

</ion-content>
